<form [formGroup]="form" (ngSubmit)="submit()">
  <input
    formControlName="title"
    type="text"
    class="border w-full rounded py-2 px-4 mb-2"
    placeholder="Product name"
    appFocus
  >

  <div
    *ngIf="title.invalid && (title.dirty || title.touched)"
    class="alert alert-danger mb-2"
  >
    <div *ngIf="title.errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="title.errors?.['minlength'] as minlength">
      Name must be at least {{ minlength.requiredLength }} characters long.
      Now is {{ minlength.actualLength }} characters.
    </div>
  </div>

  <button
    type="submit"
    class="py-2 px-4 bg-blue-600 text-white rounded"
  >
    Create
  </button>
</form>
